<% provide(:title, "プライバシーポリシー") %>

<h2>プライバシーポリシー</h2>

<p>当サービスでは、以下のように個人情報保護方針を定め、ご利用になる皆様が安全にサービスを閲覧できるようその保護を推進いたします。</p>

<p>個人情報の管理について</p>
<p>当サービスでは、セキュリティシステムの強化、その維持や改善における必要な措置を講じ、個人の情報への不正なアクセスや、紛失、破損、改ざん、漏洩などの防止に努め、個人情報の厳重な管理を行っております。</p>

<p>個人情報の利用目的について</p>
<p>当サービスでは、メールでのお問い合わせの際や、コメントの際にお名前と、メールアドレス等の個人情報をご記入いただく場合がございます。</p>

<p>これらの個人情報は、ご質問に対する回答や、必要な情報を電子メールなどでご連絡する場合に利用させていただく場合がございますが、個人情報をいただく際の目的以外では利用いたしません。</p>

<p>個人情報の第三者への開示、提供の禁止について</p>
<p>当サービスでは、利用者の方からお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、その個人情報を第三者には開示いたしません。</p>

<p>利用者本人の同意がある場合</p>
<p>利用者の方が希望されるサービスを利用するために、当サービス管理人が業務を委託する業者に対して開示する必要がある場合。</p>
<p>法令に基づき、個人情報の開示が必要になった場合</p>
<p>個人情報の安全対策について</p>
<p>当サービスでは、個人情報の正確性、および安全性確保のために、セキュリティに万全の対策を講じています。また、必要に応じて適宜その強化、改善に努めます。</p>

<p>アクセス解析について</p>
<p>当サービスでは、Googleが提供するアクセス解析ツール「Googleアナリティクス」を使用しています。このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用していますが、そのトラフィックデータは匿名で収集されており、個人を特定するものではありません。</p>

<p>この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。この規約に関しての詳細はGoogleアナリティクスサービス利用規約のページをご覧ください。</p>

<p>Facebookアプリについて</p>
<p>当サービスでは、サービスとFacebookログインを行うために、Facebookアプリを使用しています。このアプリを通じて得た情報も、個人を特定するものではありません。</p>

<p>ご本人からの照会について</p>
<p>ご本人からの個人情報の照会があり、個人情報の開示、訂正、追加、削除、利用停止などを希望される場合には、ご本人であることを確認させていただいたうえで、速やかに対応させていただきます。</p>

<p>法令・規範の遵守と見直し</p>
<p>当サービスは、保有する個人情報に関して適用される日本の法令、その他の規範を遵守しますとともに、ここに明記されたプライバシーポリシーの内容を適宜見直し、その改善に努めます。</p>

<p>免責事項</p>
<p>当サービスでは、そのコンテンツにおいて、可能な限り正確な情報を発信するよう努めておりますが、誤った情報が含まれていたり、古い情報が含まれている場合もございます。</p>

<p>当サービスに掲載された内容によって生じた一切の責任を負いかねますのでご了承ください。</p>

<p>お問い合わせ</p>
<p>当サービスの個人情報の取扱いに関するお問い合わせは info.comtube@gmail.com までご連絡ください。</p>
