<% provide(:title, current_user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= current_user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if current_user.videoposts.any? %>
      <h3>Videoposts (<%= current_user.videoposts.count %>)</h3>
      <ol class="videoposts">
        <%= render partial: "videoposts/videopost", collection: @videoposts %>
      </ol>
      <%#= will_paginate @videoposts %>
    <% end %>
  </div>
</div>
