<p>こんにちは <%= @email %>さん!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのメールアドレスが次のものに変更されたことをお知らせいたします。 <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>あなたのメールアドレスが次のものに変更されたことをお知らせいたします。 <%= @resource.email %>.</p>
<% end %>
