<p>Hello <%= @resource.email %>!</p>

<p>パスワードの変更が要求されました。下記のリンクからパスワードの変更が行えます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールに覚えがない場合無視してください。</p>
<p>あならのパスワードは上記のリンクにアクセスして変更するまで変わりません。</p>
