<footer class="footer">
  <small>
    ComTube
  </small>
  <nav>
    <ul>
      <li><%= link_to "ComTubeについて",   about_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
      <li><%= link_to "プライバシーポリシー", privacy_policy_path %></li>
    </ul>
  </nav>
</footer>
